.game_page .container {
    display: block;
    width: 1000px;
    min-height: 100px;
    margin: 10px auto 0 auto;
    padding: 0 30px;
}
.action {
    display: block;
    margin-right: 10px;
}
.food_action {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.food_action:last-child {
    margin-right: 0;
}
.action_title {
    display: block;
    width: 110px;
    word-wrap: break-word;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: darkblue;
    margin-top: 25px;
}
.action-icon {
    width: 80px;
    height: 80px;
    background: url("img/sprite.png") no-repeat;
    border-radius: 50px;
    display: block;
    position: relative;
    z-index: 2;
    left: 1px;
    top: 15px;
    margin: 15px 0 0 14px;
}
.sleep-icon {
    cursor: pointer;
    background-position: 0 -160px;
    border-radius: 0;
}
.dry_food-icon {
    cursor: pointer;
    background-position: -80px 0;
}
.wet_food-icon {
    cursor: pointer;
    background-position: -160px 0;
}
.home_food-icon {
    cursor: pointer;
    background-position: -240px 0;
}
.communication_action {
    display: inline-block;
    margin-right: 10px;
}
.communication_action:last-child {
    margin-right: 0;
}
.stroke-icon {
    cursor: pointer;
    background-position: -80px -80px;
}
.play_mouse-icon {
    cursor: pointer;
    background-position: -160px -80px;
}
.play_teaser-icon {
    cursor: pointer;
    background-position: -240px -80px;
}
.walking-icon {
    cursor: pointer;
    background-position: -320px -80px;
}
.food_actions {
    display: block;
    float: left;
}
.communication_actions {
    display: block;
    float: right;
}
.action a {
    display: block;
    width: 100px;
    margin-right: 10px;
    position: relative;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.restart_game {
    display: block;
    word-wrap: break-word;
    width: 170px;
    height: 55px;
    border: 2px solid darkblue;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: #b4b7e8;
    box-shadow: inset 0 0 5px 5px #6e6fc8;
    padding-top: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.restart_game:hover {
    background-color: #a2a5d7;
    box-shadow: inset 0 0 5px 5px #6667bf;
    color: #1b206c;
}
.restart_game:active {
    background-color:#b4b7e8;
    box-shadow: inset 0 0 5px 3px #6667bf;
    color: #1c2179;
    text-decoration: underline;
}
.main_image {
    width: 360px;
    display: block;
    margin: 40px 30px 0 120px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #3a373e;
    float: left;
}
.indicators {
    float: left;
}
.message {
    float: left;
}
.gameover_message {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 600px;
}
.gameover_image {
    width: 400px;
    margin: 10px 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #3a373e;
}
.show-instruction {
    display: block;
    word-wrap: break-word;
    width: 205px;
    height: 70px;
    border: 2px solid darkblue;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: #b4b7e8;
    box-shadow: inset 0 0 5px 5px #6e6fc8;
    font-family: 'Underdog', cursive;
    padding: 10px 5px;
    letter-spacing: 1px;
    line-height: 22px;
    float: right;
    margin: 20px 100px 0 0;
    cursor: pointer;
}
.show-instruction:hover {
    background-color: #a2a5d7;
    box-shadow: inset 0 0 5px 5px #6667bf;
    color: #1b206c;
}
.show-instruction:active {
    background-color:#b4b7e8;
    box-shadow: inset 0 0 5px 3px #6667bf;
    color: #1c2179;
    text-decoration: underline;
}
.show-instruction:focus {
    outline: none;
}
.instruction {
    width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 20px;
    border-radius: 30px;
}
.instruction p {
    text-align: justify;
    text-indent: 35px;
    font-weight: bold;
}
.instruction h2 {
    text-align: center;
    text-decoration: underline;
}
.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    bottom: 70%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 250px;
    font-size: 12px;
    line-height: 17px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 62%;
    content: "";
    left: 30%;
    position: absolute;
    z-index: 99;
}
.stroke .tooltip:hover:before {
    bottom: 66%;
}
.feed_dry .tooltip:hover:after {
    content: 'Дает небольшой бонус, но почти всегда нравится котику.';
}
.feed_wet .tooltip:hover:after {
    content: 'Не самый любимый корм котика, но уж если ему захотелось влажного корма, то бонус будет хороший.';
}
.feed_home .tooltip:hover:after {
    content: 'Это настоящий деликатес, дающий значительный бонус. Но домашней едой можно кормить не более 3 раз за игру.';
}
.stroke .tooltip:hover:after {
    content: 'Поглаживания успокаивают котика, но далеко не всегда приходятся ему по душе.';
}
.play_mouse .tooltip:hover:after {
    content: 'Менее предпочтительная игрушка, чем дразнилка, но зато чуть меньше утомляет котика.';
}
.play_teaser .tooltip:hover:after {
    content: 'Это отличный способ развлечь котика, он почти никогда не против побегать за дразнилкой.';
}
.walking .tooltip:hover:after {
    content: 'Самое увлекательное, что вы можете предложить своему любимцу – это вывести его на прогулку.';
}
.sleep .tooltip:hover:after {
    content: 'Во время сна происходит восстановление энергии и небольшой сброс остальных показателей.';
}
.footer {
    margin-top: 0;
}
.author_name {
    font-weight: bold;
    float: left;
}
.rights {
    font-weight: bold;
    float: right;
}