.game_page .container {
    display: block;
    width: 1000px;
    min-height: 100px;
    margin: 10px auto 0 auto;
    padding: 0 30px;
}
.action {
    display: block;
    margin-right: 10px;
}
.food_action {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.food_action:last-child {
    margin-right: 0;
}
.action_title {
    display: block;
    width: 100px;
    word-wrap: break-word;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: darkblue;
    margin-top: 25px;
}
.action-icon {
    width: 80px;
    height: 80px;
    background: url("img/sprite.png") no-repeat;
    border-radius: 50px;
    display: block;
    position: relative;
    z-index: 2;
    left: 1px;
    top: 15px;
    margin: 15px 0 0 14px;
}
.sleep-icon {
    cursor: pointer;
    background-position: 0 -160px;
    border-radius: 0;
}
.dry_food-icon {
    cursor: pointer;
    background-position: -80px 0;
}
.wet_food-icon {
    cursor: pointer;
    background-position: -160px 0;
}
.home_food-icon {
    cursor: pointer;
    background-position: -240px 0;
}
.communication_action {
    display: inline-block;
    margin-right: 10px;
}
.communication_action:last-child {
    margin-right: 0;
}
.stroke-icon {
    cursor: pointer;
    background-position: -80px -80px;
}
.play_mouse-icon {
    cursor: pointer;
    background-position: -160px -80px;
}
.play_teaser-icon {
    cursor: pointer;
    background-position: -240px -80px;
}
.walking-icon {
    cursor: pointer;
    background-position: -320px -80px;
}
.food_actions {
    display: block;
    float: left;
}
.communication_actions {
    display: block;
    float: right;
}
.action a {
    display: block;
    width: 100px;
    margin-right: 10px;
    position: relative;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.restart_game {
    display: block;
    word-wrap: break-word;
    width: 160px;
    height: 55px;
    border: 2px solid darkblue;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: #b4b7e8;
    box-shadow: inset 0 0 5px 5px #6e6fc8;
    padding-top: 5px;
    margin-top: 10px;
}
.restart_game:hover {
    background-color: #a2a5d7;
    box-shadow: inset 0 0 5px 5px #6667bf;
    color: #1b206c;
}
.restart_game:active {
    background-color:#b4b7e8;
    box-shadow: inset 0 0 5px 3px #6667bf;
    color: #1c2179;
    text-decoration: underline;
}
.main_image {
    width: 360px;
    display: block;
    margin: 15px 30px 0 120px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #3a373e;
    float: left;
}
.indicators {
    float: left;
}
.message {
    float: left;
}