body {
    min-width: 1120px;
    margin: 0;
    padding: 0;
    font-family: 'Underdog', cursive;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 24px;
    color: black;
    background: linear-gradient(to right, rgba(147, 161, 232, 0.55), rgba(117, 191, 232, 0.55));
}
@font-face {
    font-family: "Cheshirskiy Cat Roman";
    src: url("fonts/Cheshirskiy_cat_roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.start_page .container {
    display: block;
    width: 600px;
    min-height: 100px;
    margin: 40px auto 0 auto;
    padding: 0 30px;
}
.game_icon {
    width: 100px;
    display: block;
    margin: 0;
    float: left;
    /*margin-left: 50px;*/
    padding-top: 5px;
}
.game_title {
    text-align: left;
    margin-left: 100px;
    display: block;
    float: left;
    font-size: 50px;
    line-height: 55px;
    color: #070866;
    font-family: "Cheshirskiy Cat Roman", Roman;
    letter-spacing: 5px;
}
.clearfix {
    clear: both;
}
.game_description {
    display: block;
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding: 10px;
    border: 2px solid #3a373e;
    box-shadow: 0 0 10px 5px #494a87;
    border-radius: 10px;
    letter-spacing: 0;
}
.start_game_form label {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    margin-left: 20px;
}
.cat_name_text {
    height: 22px;
    width: 250px;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 2px;
    font-family: Underdog, cursive;
    font-weight: bold;
    letter-spacing: 1px;
}
.start_game_button {
    height: 30px;
    width: 150px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    font-family: Underdog, cursive;
    letter-spacing: 1px;
}
.start_image {
    width: 300px;
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #3a373e;
}